@model HotelOnCloud.Models.SubscribeModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
<section id="loginForm">
    <h2>Subscribe to Hotel on Cloud</h2>
    
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Subscription Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.Name )
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </li>
                <li>
                    @Html.LabelFor(m => m.OwnerName)
                    @Html.TextBoxFor(m => m.OwnerName)
                    @Html.ValidationMessageFor(m => m.OwnerName)
                </li>

                <li>
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </li>
             


                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.Address)
                    @Html.TextBoxFor(m => m.Address)
                    @Html.ValidationMessageFor(m => m.Address)
                </li>
                <li>
                    @Html.LabelFor(m => m.City)
                    @Html.TextBoxFor(m => m.City)
                    @Html.ValidationMessageFor(m => m.City)
                </li>
                <li>
                    @Html.LabelFor(m => m.State)
                    @Html.TextBoxFor(m => m.State)
                    @Html.ValidationMessageFor(m => m.State)
                </li>
                <li>
                    @Html.LabelFor(m => m.Country)
                    @Html.TextBoxFor(m => m.Country)
                    @Html.ValidationMessageFor(m => m.Country)
                </li>
                <li>
                    @Html.LabelFor(m => m.ZipCode)
                    @Html.TextBoxFor(m => m.ZipCode)
                    @Html.ValidationMessageFor(m => m.ZipCode)
                </li>
            </ol>
            <input type="submit" value="Subscribe" />
        </fieldset>
</section>
<section id="property" style="margin-left:10px;">
    <fieldset style="margin-left:10px;">
        <h2>Enter Youor Hotel Details</h2>
        <legend>Property Details</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.PropertyName)
                @Html.TextBoxFor(m => m.PropertyName)
                @Html.ValidationMessageFor(m => m.PropertyName)
            </li>
            <li>
                @Html.LabelFor(m => m.ContactPerson)
                @Html.TextBoxFor(m => m.ContactPerson)
                @Html.ValidationMessageFor(m => m.ContactPerson)
            </li>
            <li>
                @Html.LabelFor(m => m.PropertyEmail)
                @Html.TextBoxFor(m => m.PropertyEmail)
                @Html.ValidationMessageFor(m => m.PropertyEmail)
            </li>
            <li>
                @Html.LabelFor(m => m.PropertyPassword)
                @Html.PasswordFor(m => m.PropertyPassword)
                @Html.ValidationMessageFor(m => m.PropertyPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.PropertyConfirmPassword)
                @Html.PasswordFor(m => m.PropertyConfirmPassword)
                @Html.ValidationMessageFor(m => m.PropertyConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.PropertyAddress)
                @Html.TextBoxFor(m => m.PropertyAddress)
                @Html.ValidationMessageFor(m => m.PropertyAddress)
            </li>
            <li>
                @Html.LabelFor(m => m.PropertyCity)
                @Html.TextBoxFor(m => m.PropertyCity)
                @Html.ValidationMessageFor(m => m.PropertyCity)
            </li>
            <li>
                @Html.LabelFor(m => m.PropertyState)
                @Html.TextBoxFor(m => m.PropertyState)
                @Html.ValidationMessageFor(m => m.PropertyState)
            </li>
            <li>
                @Html.LabelFor(m => m.PropertyCountry)
                @Html.TextBoxFor(m => m.PropertyCountry)
                @Html.ValidationMessageFor(m => m.PropertyCountry)
            </li>
            <li>
                @Html.LabelFor(m => m.ContactNumber)
                @Html.TextBoxFor(m => m.ContactNumber)
                @Html.ValidationMessageFor(m => m.ContactNumber)
            </li>
            
            <li>
                @Html.LabelFor(m => m.Fax)
                @Html.TextBoxFor(m => m.Fax)
                @Html.ValidationMessageFor(m => m.Fax)
            </li>
            <li>
                @Html.LabelFor(m => m.PropertyWebsite)
                @Html.TextBoxFor(m => m.PropertyWebsite)
                @Html.ValidationMessageFor(m => m.PropertyWebsite)
            </li>
        </ol>
    </fieldset>

</section>
}
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
